<!--<div *ngIf="template; else waitingTemplate">-->
<!--    <p>-->
<!--        <mat-form-field appearance="standard">-->
<!--            <mat-label>strClassID</mat-label>-->
<!--            <input matInput placeholder="Placeholder"-->
<!--                   [value]="template.strClassID"-->
<!--                   [disabled]="template.strClassID !== ''">-->
<!--            &lt;!&ndash;        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>&ndash;&gt;-->
<!--            &lt;!&ndash;        <mat-hint>Hint</mat-hint>&ndash;&gt;-->
<!--        </mat-form-field>-->
<!--    </p>-->
<!--    <p>-->
<!--        <mat-form-field appearance="standard">-->
<!--            <mat-label>sysAddrID</mat-label>-->
<!--            <input matInput placeholder="Placeholder"-->
<!--                   [value]="template.sysAddrID"-->
<!--                   [disabled]="template.sysAddrID !== ''">-->
<!--            &lt;!&ndash;        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>&ndash;&gt;-->
<!--            &lt;!&ndash;        <mat-hint>Hint</mat-hint>&ndash;&gt;-->
<!--        </mat-form-field>-->
<!--    </p>-->
<!--    <p>-->
<!--        <mat-form-field appearance="standard">-->
<!--            <mat-label>strName</mat-label>-->
<!--            <input matInput placeholder="Placeholder"-->
<!--                   [value]="template.strName"-->
<!--                   [disabled]="template.strName !== ''">-->
<!--            &lt;!&ndash;        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>&ndash;&gt;-->
<!--            &lt;!&ndash;        <mat-hint>Hint</mat-hint>&ndash;&gt;-->
<!--        </mat-form-field>-->
<!--    </p>-->
<!--    <p>-->
<!--        <mat-form-field appearance="standard">-->
<!--            <mat-label>strDesc</mat-label>-->
<!--            <input matInput placeholder="Placeholder"-->
<!--                   [value]="template.strDesc"-->
<!--                   [disabled]="template.strDesc !== ''">-->
<!--            &lt;!&ndash;        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>&ndash;&gt;-->
<!--            &lt;!&ndash;        <mat-hint>Hint</mat-hint>&ndash;&gt;-->
<!--        </mat-form-field>-->
<!--    </p>-->
<!--    <p>-->
<!--        <mat-checkbox class="example-margin">IsActive</mat-checkbox>-->
<!--    </p>-->
<!--    <p>-->
<!--        <mat-form-field appearance="standard">-->
<!--            <mat-label>strAlias</mat-label>-->
<!--            <input matInput placeholder="Placeholder"-->
<!--                   [value]="template.strAlias"-->
<!--                   [disabled]="template.strAlias !== ''">-->
<!--            &lt;!&ndash;        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>&ndash;&gt;-->
<!--            &lt;!&ndash;        <mat-hint>Hint</mat-hint>&ndash;&gt;-->
<!--        </mat-form-field>-->
<!--    </p>-->
<!--</div>-->
<form *ngIf="template; else waitingTemplate" (ngSubmit)="onSubmit()">
    <div [formGroup]="objectForm" (ngSubmit)="onSubmit()" #addForm="ngForm">
        <div *ngFor="let elem of fields">
            <p [ngSwitch]="elem.type">
                <mat-form-field appearance="standard" *ngSwitchCase="'input'">
                    <mat-label>{{elem.name}}</mat-label>
                    <input matInput placeholder="Placeholder"
                           formControlName="{{elem.name}}">
                </mat-form-field>
                <mat-form-field appearance="standard" *ngSwitchCase="'select'">
                    <mat-select formControlName="{{elem.name}}" (ngModelChange)="ConvertStringToNumber($event)">
                        <mat-option *ngFor="let val of elem.valueList | keyvalue" [value]="ConvertStringToNumber(val.key)">{{val.value}}</mat-option>
                    </mat-select>
                    <mat-label>{{elem.name}}</mat-label>
                </mat-form-field>
            </p>
        </div>
    </div>
    <button mat-raised-button color="primary" type="submit">Submit</button>
    <button mat-raised-button type="submit" (click)="cancelFunc.emit()">Cancel</button>
</form>

<ng-template #waitingTemplate>
    <mat-spinner></mat-spinner>
</ng-template>
